body {
  font-family: "Noto Sans", "sans-serif";
 
}
/* Header */
header {
  text-align: center;
  margin: 5vh 2vw;
}
header p {
  color: rgb(107, 106, 106);
}
/* Header */
/* Main */
/* Form */
main {
  margin: 0 2%;
}
form {
  text-align: center;
}
.text-input {
  padding: 15px;
  width: 40%;
  font-family: "Noto Sans", "sans-serif";
  font-size: 18px;
  font-style: italic;
  border: 2px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white),
    linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.text-input:hover {
  box-shadow: 7px 8px 8px #cec2fa;
}
.generate-button {
  background: #7731d8;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 17px 20px;
  font-family: "Noto Sans", "sans-serif";
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
::placeholder {
  background-image: -webkit-linear-gradient(
    70.6deg,
    rgb(172, 30, 255) 0.3%,
    rgb(65, 35, 251) 55.8%,
    rgb(35, 251, 224) 105.1%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: italic;
  font-size: 18px;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #7731d8;
  font-style: italic;
  font-size: 18px;
}
.generate-button:hover {
  box-shadow: 7px 8px 8px #cec2fa;
}

/* Div.output */
.magic-pen {
  font-size: 24px;
  margin: 9% 7%;

  background-image: -webkit-linear-gradient(
    70.6deg,
    rgb(0, 82, 212),
    rgb(67, 100, 247),
    rgb(111, 177, 252)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.rotating {
  position: relative;
  bottom: 12px;
  width: 60px;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0geg);
    -moz-transform: rotate(0geg);
    -webkit-transform: rotate(0geg);
    -o-transform: rotate(0geg);
    transform: rotate(0geg);
  }
  to {
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.output-ai {
  width: 60vw;
  height: 48vh;
  overflow: auto;
  margin-top: 3vh;
  margin-left: 17.5vw;
  margin-right: 17.5vw;
  margin-bottom: 0;
  padding-top: 5px;
  text-align: justify;
  border: 2px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white),
    linear-gradient(
      109.6deg,
      rgb(156, 252, 248) 11.2%,
      rgb(110, 123, 251) 91.1%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.output-ai p {
  padding: 5px 40px 0 40px;
  line-height: 2;
  margin-bottom: 0;
  text-align: justify;
  margin-top: 5px;
}
.copy-btn{
  
 float: right;
  color: rgb(188, 187, 187);
  background: transparent;
  border: 1px solid rgb(188, 187, 187);
  border-radius: 5px;
  font-size: 14px;
  font-weight:600;
 right: 0;
 padding: 5px 10px;
 margin-right: 5px;

}
.hidden {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
/* Main */
/* Gradient box */
.bottom-gradient-color {
  background: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
  width: 98%;
  height: 10%;
  position: fixed;
  bottom: 30px;
  left: 1%;
}
/* Gradient box */
/* Footer */
footer {
  font-size: 14px;
  color: rgb(82, 82, 82);
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
}

footer a {
  color: #7731d8;
}
/* Footer */

@media (max-width: 960px) {
  .text-input,
  .generate-button,
  ::placeholder {
    font-size: 12px;
  }
  footer {
    font-size: 10px;
  }

  .magic-pen {
    font-size: 14px;
    margin-top: 3%;
    margin-left: 15%;
  }
  header p {
    font-size: 14px;
  }
  .rotating {
    width: 40px;
  }
  .output-ai {
    width: 80vw;
    margin: 4vh 8vw 0 8vw;
    height: 30vh;
    overflow: auto;
  }
  .output-ai p {
    padding: 2vh 5px 0 5px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .magic-pen {
    margin-left: 5%;
  }
  .output-ai {
    width: 80vw;
    margin: 3vh 8vw 0 8vw;
    height: 30vh;
    overflow: auto;
  }
  .output-ai p {
    padding: 2vh 5vh 0 5vh;
    font-size: 16px;
  }
  ::placeholder {
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  header {
    margin: 10% 5px;
  }
  .magic-pen {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
  }
  .span-magic-pen {
    display: block;
    text-align: center;
  }
  .output-ai {
    width: 80vw;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 41vh;
    overflow: auto;
  }
  .output-ai p {
    padding: 5px 5px 0 5px;
    font-size: 14px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr;
  }
  .text-input {
    width: 95%;
    margin:0 0 10px 10px;
  }
  ::placeholder {
    font-size: 14px;
  }
  .generate-button{
    width: 95%;
  }
}
